<li class="nav-item">
  <a class="nav-link" href="#">Menu</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Menu</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Menu</a>
</li>
<li class="nav-item">
  <%= link_to(t("sign_out"), destroy_user_session_path, method: :delete, class: "nav-link") %>
</li>
