<h2 class="page-title"><%= t("my_favorite_lists") %></h2>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <%= render partial: "lists/list", locals: { list: list } %>
    </div>
  <% end %>
</div>
