<section id="signup">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 text-center">
        <h1 class="landing title"><%= t("landing.title") %></h1>

        <hr class="primary" />

        <p>
          <%= t("landing.description") %>
        </p>

        <p>&nbsp;</p>

        <button class="btn btn-lg btn-danger"><%= t("landing.sign_up") %></button>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XRDEp9JK5kg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
