/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

.hidden { display: none }

.container-fluid {
  &.main {
    margin-top:80px;
    margin-bottom: 60px;
  }

  h1 {
    &.landing {
      &.title {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
      }
    }
  }

  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  hr {
    &.primary {
      max-width: 80px;
      padding-bottom: 20px;
    }
  }

  .service-box {
    h3 {
      font-size: 24px;
    }
  }

  h2 {
    &.page-title {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }

  .actions {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .field_with_errors {
    input {
      border: 1px solid $danger; // bootstrap danger color
    }

    label {
      @extend .text-danger;
    }
  }

  span.error {
    @extend .text-danger;
  }
}

footer {
  &.page-footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: white;
  }
}
