.tasks {
  ul {
    list-style: none;
    margin-left: -30px;

    ul {
      margin-left: -25px;
    }

    li {
      margin-left: 0px;
      padding: 5px;

      .row {
        float: rigth;
      }

      &:before {
        content: "";
        float: left;
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -20px;
        padding: top 10px;
        color: #efefef;
      }

      &.opened {
        .text {
          text-decoration:none;
          a {
            color: #0056b3;
          }
        }
      }

      &.closed {
        &:before {
          content: "\f00c";
          color: #5A5A5A;
        }

        .text {
          text-decoration:line-through;
          a {
            color: silver;
          }
        }
      }
    }
  }
}
