<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div>
    <a class="navbar-brand" href="/">
      <%= image_tag("logo", class: "img-fluid", width: '60px') %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%= render partial: main_menu(false) %>
    </ul>
  </div>
</nav>
